@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lato:ital,wght@0,300;1,400&family=Onest&family=Poppins:wght@300&family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}